
<section class="row">
  <article class="column">
    <h2>Game Menu</h2>
    <ul>
      <li>
        <a href="/">Single Player</a>
      </li>
      <li>
        <a href="/lobby">Multiplayer</a>
      </li>
    </ul>
  </article>
</section>
